*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    width: 114px;
    height: 50px;

}
.logo{
    background-image: url("/Images/amazon-logo-amazon-icon-free-free-vector.jpg");
    width: 100%;
    height: 50px;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
    
}
.border:hover{
    border-color: white;
    
}


/* Working for the Location Delivery */
.nav-location{
    width: 92px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toward-address{
    color: #CCCCCC;
    font-size: 0.7rem;
    margin-left: 16px;
}

.country-location {
    font-size: 1rem;
}


/* Setting up for Search in Navbar */
.nav-search{
    width: 630px;
    height: 45px;
    display: flex;
    align-items: center;

}
.category{
    width: 52px;
    height: 40px;
    border: none;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #e6e6e6;
    text-align: center;
}
.search-input{
    width: 530px;
    height: 40px;
    border: none;
    font-size: 1rem;
    outline: none;
    padding-left: 10px;
}

.search-icon{
    width: 45px;
    height: 40px;
    background-color: #ffce12;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: rgb(99, 96, 96);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-in{
    width: 120px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.returns{
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

/* Cart  */
.cart{
    width: 80px;
    height: 50px;
    display: flex;
}
.cart p{
    align-self: center;
}
.xshop{
    width: 100% ;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #041033;
    font-size: 1rem;
    color: white;
}
.menu-icon{
    
    display: flex;
    margin-left: 10px;
    gap: 5px;
}
.other-deals{
    display: flex;
    gap: 12px;
    margin-left: 10px;
}
.other-deals > a{
    color: white;
    text-decoration: none;
}


/* Hero Section */
.hero-section{
    height: 400px;
    background-image: url("/Images/back\ Image\ 1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-section-msg{
    width: 98%;
    height: 40px;
    background-color: #ffffff;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}
.all-cards{
    width: 100%;
    /* height: 1000px; */
    background-color: #f1ecec;
    box-shadow: 0 -10px 20px #f1ecec;
    display: flex;
    justify-content: center;
    
}
.card-container{
    width: 98%;
    background-color: #f1ecec;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    
    gap: 15.2px;
    

}
.card{
    width: 24%;
    height: 400px;
    background-color: white;
    /* border: 1px dotted black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
}
.card > img{
    width: 90%;
    height: 80%;
    margin: 10px 0px;
}
.card > a, .card > h2{
    align-self: flex-start;
    margin-left: 5%;
}


/* Footer */
.back-to-top{
    width: 100vw;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0F1111;
    margin-top: 20px;
}

body{
    background-color: #f1ecec;
}

.footer-anchors{
    width: 100vw;
    height: 300px;
    background-color: #041033;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    gap: 50px;
}
.anchor-details{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    /* border: 1px solid white; */
}
.anchor-details > a {
    color: white;
    text-decoration: none;

}
.ul-li{
    
    text-decoration: none;
    color: white;
    
}
li{
    list-style: none;
    
}
